html, body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  background-color: #d0d3d9;
}

#header {
  height: 62px;
  background-color: #f7f8fa;
}

#content {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
}

#sidebar {
  width: 154px;
  background-color: #dfe1e6;
}

#main {
  -webkit-box-flex: 1;
  margin:25px;
  min-width: 192px;
  min-height: 108px;
}

#property-panel {
  width: 265px;
  background-color: #dfe1e6;
}

#footer {
  height: 22px;
  background-color: #ebeced;
}

svg.defs-only { 
  display:none; 
}
#board-container { 
  margin:auto;
}
#board { 
  width:100%; 
  height:100%;
}