html, body {
  margin: 0;
  padding: 0;
}
ul {
    display: block;
    list-style-type: none;
    margin:0;
    padding:0;
}

#app {
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  background-color: #d0d3d9;
}

#header {
  height: 62px;
  background-color: #f7f8fa;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
}

#content {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
}

#footer {
  height: 22px;
  background-color: #ebeced;
}

.left-column{
  width: 154px;
}
.center-column {
  -webkit-box-flex: 1;
}
.right-column {
  width: 265px;
}

#toolbar{
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
#left-toolbar{
  display: flex;
}
#center-toolbar{
  display: flex;
  justify-content: center;
}
#right-toolbar{
}
.toolbar-button{
  border-radius: 4px;
  -webkit-box-shadow:0px 0px 6px #aaa;
  background: #f9f9f9;
  width: 48px;
  height:32px;
  margin-left: 10px;
  margin-right: 10px;
}
.toolbar-button:hover{
  background: #ffffff;
}
.button-bg{
  width:24px;
  height:24px;
  margin: 4px 12px;
}

#slide-panel {
  background-color: #dfe1e6;
  padding: 7px 0;
}
#workspace {
  margin:25px;
  min-width: 192px;
  min-height: 108px;
}
#board-container {
  margin:auto;
}
#board {
  width:100%;
  height:100%;
}
#property-panel {
  background-color: #dfe1e6;
}
.hide {
  display:none; 
}
#thumbnails{
    margin:0;
    overflow: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    -webkit-box-flex: 1;
}
.slide-thumbnail{
    margin:0px 3px;
}
.slide-thumbnail svg{
  border: 4px solid transparent;
  border-radius: 3px;
}
.slide-thumbnail:hover svg{
  border: 4px solid dodgerblue;
}
.slide-thumbnail.active svg{
  border: 4px solid dodgerblue;
}
.fullscreen{
    margin:0;
    padding:0;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}