html, body {
  margin: 0;
  padding: 0;
  font-family: 微软雅黑, helvetica;
  color: #666666;
  cursor: default;
}
ul {
    display: block;
    list-style-type: none;
    margin:0;
    padding:0;
}

#app {
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  background-color: #d0d3d9;
}

#header {
  height: 52px;
  background-color: #f7f8fa;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
}

#content {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
}

#footer {
  height: 22px;
  background-color: #ebeced;
}

.left-column{
  width: 154px;
}
.center-column {
  -webkit-box-flex: 1;
  position: relative;
}
.right-column {
  width: 265px;
}

#toolbar{
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
#left-toolbar, #right-toolbar{
  display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}
#center-toolbar{
  display: flex;
  justify-content: center;
}
#right-toolbar{
}
.toolbar-button{
  height: 100%;
  padding: 0 10px;
  margin: 0 2px;
  font-size: 13px;
  text-align: center;
}
.toolbar-button:hover{
  background: #ffffff;
}
#display-button-container{
  float: left;
  position: absolute;
  left: 0px;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  margin: 3 0;
  height: 46px;
  border-left: 1px solid #cccccc;
  display: flex;
  align-items: center;
}
#display-button{
  background: #65ad57;
  height: 30px;
  width: 100px;
  margin: 0 12px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 12px;
  border-radius: 4px;
}
#display-button:hover{
  background: #6dba5d;
}
#display-button:active{
  background: #5ea150;
}
#display-button img{
  margin: 0 8px 0 6px;
}
#display-button div{
  cursor: arrow;
}
.button-bg{
  width:24px;
  height:24px;
  margin: 5px 12px 3px 12px;
}

#slide-panel {
  background-color: #dfe1e6;
  padding: 7px 0;
}
#workspace {
  margin:25px;
  min-width: 192px;
  min-height: 108px;
}
#board-container {
  margin:auto;
}
#board {
  width:100%;
  height:100%;
}
#property-panel {
  background-color: #dfe1e6;
}
.hide {
  display:none; 
}
#thumbnails{
    margin:0;
    overflow: auto;
}
.slide-thumbnail{
  height: 60px;
  margin: 12px 9px 12px 9px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: start;
  align-items: stretch;
}
.slide-thumbnail p{
  border-left: 3px solid transparent;
  width: 16px;
  font-size: 12px;
  padding: 6px 0 0 6px;
  position: relative;
  top: -10px;
}
.slide-thumbnail.active p{
  border-left: 3px solid #65ad57;
  color: #65ad57;
  height: 54px;
}
.slide-thumbnail svg{
  height: 54px;
  margin: 2px;
  border: 1px solid #d4d4d4;
}
.slide-thumbnail:hover svg{
  border: 3px solid #65ad57;
}
.slide-thumbnail.active svg{
  border: 3px solid #65ad57;
}
.fullscreen{
    margin:0;
    padding:0;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#file-list-panel{
    position: absolute;
    top: 55px;
    left: 6px;
    width:240px;
    max-height:700px;
    min-height:300px;
    background: white;
    border: 1px solid #aaa;
    border-radius: 3px;
    display: none;
}
#file-list-panel li{
    height:30px;
    background: white;
    border: 1px solid #aaa;
    font-size: 16px;
    margin:0 auto;
    padding:5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: hand;
}
#file-list-panel li:hover{
    height:30px;
    background: dodgerblue;
}