<html>
<head>
  <link rel="stylesheet" href="../css/style.css" type="text/css" />
  <script type="text/javascript" src="../lib/jquery.js"></script>
  <script type="text/javascript" src="../src/start.js"></script>
</head>
<body>
  <div id="app">
    <div id="header"></div>
    <div id="content">
      <div id="sidebar"></div>
      <div id="main">
        <div id="board-container">
          <svg id="board" viewBox="0 0 1920 1080">
            <use xlink:href="#slide" />
          </svg>
        </div>
        <svg class="defs-only" xmlns="http://www.w3.org/2000/svg">
          <symbol id="slide">
            <g fill="white">
              <rect width="1920" height="1080" />
            </g>
          </symbol>
        </svg>
      </div>
      <div id="property-panel"></div>
    </div>
    <div id="footer">
    </div>
  </div>
</body>
</html>